body {
    margin: 0;
    font-family: Inter, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.weather-input-container, .weather-card {
    text-align: center;
}

.input-list{
    display: grid;
    row-gap: 52px;
    margin-top: 79px;
}

.label{
    font-size: 40px;
    margin-right: 30px;
}

.but-show-weather{
    color: white;
    border: none;

    border-radius: 8px;
    background: #355FCA;

    width: 617px;
    height: 91px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 51px;

    font-size: 40px;
}

.latitude, .longitude{
    width: 405px;
    height: 49px;
    border: 2px solid #000;
}


.weather-card{
    background: #355FCA;
    width: 617px;
    height: 306px;
    border-radius: 8px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    position: relative;
    padding-top: 5px;
}

.weather-card > li{
    color: #FFF;
    font-size: 26px;
    margin-left: 43px;
    margin-top: 20px;
    text-align: start;
}

.weather-card > li:first-child{
    position: absolute;
    right: 39px;
    bottom: 45px;

    display: none;
}

.weather-card > li:nth-child(3){
    margin-top: 70px;
}